<h3><a href="/reviews">All Reviews</a> &laquo; New Review</h3>

<form style="margin-top: 40px;" class="form-horizontal" novalidate name="review_form" ng-submit="create_review()">

<div class="form-group">
    <label for="review_project" class="col-sm-2 control-label">Project:</label>
    <div class="col-sm-8"><select class="form-control" required="true" name="review_project_id" ng-disabled="!data.projects" ng-model="review_project_id">
        <option ng-repeat="project in data.projects" value="{{project.project_id}}">{{project.short_name}}</option>
    </select></div>
    <div class="col-sm-2"><button class="btn btn-default">Add Project</button></div>
</div>

<div class="form-group">
    <label for="review_branch" class="col-sm-2 control-label">Branch to review</label>
    <div class="col-sm-10"><select class="form-control" required="true" name="review_branch" ng-disabled="!data.branches" ng-model="review_branch" validate-review-branches>
        <option ng-repeat="(ignore, branch) in data.branches" value="{{branch.name}}">{{branch.name}}@{{branch.commit | limitTo: 7}} ({{branch.commit_subject}})</option>
    </select></div>
</div>

<div class="form-group">
    <label for="base_branch" class="col-sm-2 control-label">Branch to review against</label>
    <div class="col-sm-10"><select class="form-control" required="true" name="base_branch" ng-disabled="!data.branches" ng-model="base_branch" validate-review-branches>
        <option ng-repeat="(ignore, branch) in data.branches" value="{{branch.name}}">{{branch.name}}</option>
    </select></div>
</div>

<hr>

<div class="form-group">
    <label for="review_title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10"><input class="form-control" name="review_title" ng-model="review_title"></div>
</div>

<div class="form-group">
    <label for="reviewers" class="col-sm-2 control-label">Reviewers</label>
    <div class="col-sm-10"><js-tag ng-model="reviewers" js-tag-options="reviewerTagOptions"></js-tag></div>
</div>

<div class="form-group">
    <label for="observers" class="col-sm-2 control-label">Observers</label>
    <div class="col-sm-10"><js-tag ng-model="observers" js-tag-options="observerTagOptions"></js-tag></div>
</div>

<div class="form-group">
    <p class="col-sm-offset-2 col-sm-10 form-control-static" ng-if="review_form.$valid">{{review_branch}} and {{base_branch}} have diverged by {{data.branch_diff.branch}} and {{data.branch_diff.base}} commits, respectively. <span ng-if="data.branch_diff.base > 0">This review will show changes in {{review_branch}} against its ancestor in {{base_branch}} ({{data.branch_diff.base}} commits behind HEAD of {{base_branch}}). To review diffs against HEAD of {{base_branch}}, either merge {{base_branch}} into {{review_branch}} or rebase {{review_branch}} onto {{base_branch}}.</span></p>

    <p class="col-sm-offset-2 col-sm-10 form-control-static" style="color: red;" ng-show="data.branches && review_form.review_branch.$error.required">Please select a branch to review.</p>
    <p class="col-sm-offset-2 col-sm-10 form-control-static" style="color: red;" ng-show="data.branches && review_form.base_branch.$error.required">Please select a branch to review against.</p>
    <p class="col-sm-offset-2 col-sm-10 form-control-static" style="color: red;" ng-show="data.branches && review_form.base_branch.$error.review_delta || review_form.review_branch.$error.review_delta">Cannot review a branch against itself.</p>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-disabled="!review_form.$valid">Create Review</button>
    </div>
</form>
