<h3>All Reviews</h3>

<p><a class="btn btn-default" href="/reviews/new">New Review</a></p>

<table class="table">
<tr>
    <th>Review</th>
    <th>Project</th>
    <th>Branch Under Review</th>
    <th>Authors</th>
    <th>Reviewers</th>
    <th>Observers</th>
</tr>
<tbody>
<tr ng-repeat="review in data.reviews">
    <td><a href="/reviews/{{review.review_id}}">review{{review.review_id}}<span ng-if="review.title.length">: {{review.title}}</span></a> ({{review.status}})</td>
    <td>{{review.project.short_name}}</td>
    <td>{{review.latest_round.branch_tip_name}}@{{review.latest_round.branch_tip_commit | limitTo : 7}} &#8594; {{review.latest_round.merge_base_branch}}</td>
    <td><span ng-repeat="author in review.authors | orderBy:'toString()'">{{author}}<span ng-if="!$last">, </span></span></td>
    <td><span ng-repeat="reviewer in review.reviewers | orderBy:'toString()'">{{reviewer}}<span ng-if="!$last">, </span></span></td>
    <td><span ng-repeat="observer in review.observers | orderBy:'toString()'">{{observer}}<span ng-if="!$last">, </span></span></td>
</tr>
</tbody>
</table>
